# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
    paths:
      - "**/*.go"
      - "**/*_test.go"
      - ".github/**"
      - "g4/**"
      - "magefile.go"
  pull_request:
    branches: [ "main" ]
    paths:
      - "**/*.go"
      - "**/*_test.go"
      - ".github/**"
      - "g4/**"
      - "magefile.go"

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

    - name: Set up Go
      uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version: '1.25'

    - name: Build
      run: |
        go run mage.go generate

    - name: Test
      run: go test -v ./...
