# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Python

on:
  push:
    branches: [ "main" ]
    paths:
      - "src/**"
      - "tests/**"
      - ".github/**"
      - "g4/**"
      - "pyproject.toml"
  pull_request:
    branches: [ "main" ]
    paths:
      - "src/**"
      - "tests/**"
      - ".github/**"
      - "g4/**"
      - "pyproject.toml"

jobs:
  python:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ['3.11', '3.12', '3.13']

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@2ddd2b9cb38ad8efd50337e8ab201519a34c9f24 # v7
        with:
          enable-cache: true

      - name: Set up Python 3
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Generate parser files"
        run: |
          ./generate.sh

      - name: Install dependencies
        run: |
          uv sync --all-extras --dev

      - name: "Run unit tests"
        run: |
          uv run pytest -vs
